* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Tangerine';
    src: url(../assets/font/Tangerine-Regular.ttf);
    font-weight: normal;
}

:root {
    --accent: #09ff00;
    --dark: #111111;
}

.page-body {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--dark);
}

.background {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding: 0em 2em;
    z-index: -1;
}

.background__line {
    width: 1px;
    height: 100vh;
    background-color: #383838;
    filter: opacity(0.3);
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
}

.page-header__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    width: 100%;
}

.page-header__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin: 0;
    padding: 0.5em 0em;
}

.page-header__nav a,
.page-main__ul a {
    color: white;
    text-decoration: none;
}

.page-header__list a:hover {
    color: var(--accent);
}

.page-header__nav ::marker {
    content: "";
}

.page-header__div {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
}

.page-header__div a {
    transition: all 0.5s ease;
}

.page-header__div:hover>ul>li>a {
    font-size: 35px;
    color: var(--accent);
    transition: all 0.2s ease;
}

.page-header__list-name {
    display: flex;
    flex-flow: row nowrap;
    font-family: "Tangerine";
    font-size: 30px;
    font-weight: 700;
}

.page-header__list-initial a {
    color: var(--accent);
}

.page-header__li-button {
    padding: 0.5em;
    margin: -1em;
    border-radius: 0.3em;
    background-color: var(--accent);
}

.page-header__li-button a,
#download-resume a {
    color: var(--dark);
    font-weight: 700;
}

.page-header__li-button:hover>a,
#download-resume a:hover {
    color: white;
}

.page-main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: calc(100vh - 4em);
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    overflow: hidden;
}

.page-main__section {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.page-main__span {
    font-size: 12px;
    font-weight: 800;
}

.page-main__div-name {
    color: var(--accent);
    font-size: 35px;
    font-weight: 800;
}

#surname {
    color: white;
}

.page-main__h1 {
    color: var(--accent);
    font-size: 25px;
    font-weight: 600;
}

.page-main__p {
    padding: 1em 0em;
    line-height: 2em;
    font-size: 14px;
    font-weight: 500;
    z-index: 7;
}

.page-main__ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    gap: 0.5em;
    padding: 0.5em 1em;
    font-size: 14px;
    font-weight: 500;
}

.page-main__ul ::marker {
    content: "";
}

.page-main__li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em;
    margin: 0;
    border-radius: 0.3em;
    background-color: #383838;
}

.page-main__li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.3em;
}

.page-main__li a>img {
    width: 1.5em;
    height: 1.5em;
    color: var(--accent);
    filter: invert(65%) sepia(51%) saturate(4504%) hue-rotate(76deg) brightness(120%) contrast(130%);
}

.page-main__li a:hover {
    color: white;
}

#download-resume {
    background-color: var(--accent);
    padding: 0.5em;
}

#contact-me {
    background-color: var(--dark);
    padding: 0.5em;
    border: 0.1em solid var(--accent);
}

#image-benjamin {
    align-self: center;
    height: 26em;
    width: 20em;
    object-fit: cover;
    margin-bottom: 5em;
    z-index: 5;
}

.decoration {
    position: absolute;
    display: flex;
    align-self: center;
    width: 24em;
    height: 100%;
}

/*borde circulo verde*/
.decoration__item--1 {
    position: absolute;
    align-self: center;
    width: 24em;
    height: 24em;
    bottom: 0em;
    border-radius: 24em;
    border: solid .3em var(--accent);
    z-index: 4;
}

/*circulo negro*/
.decoration__item--2 {
    position: absolute;
    align-self: center;
    width: 24em;
    height: 24em;
    bottom: 0em;
    border-radius: 24em;
    background-color: var(--dark);
    z-index: 1;
}

/*semi circulo verde*/
.decoration__item--3 {
    position: absolute;
    align-self: center;
    width: 24em;
    height: 12em;
    bottom: 0.2em;
    border-radius: 0 0 20em 20em;
    background-color: var(--accent);
    z-index: 2;
}

/*rectangulo negro*/
.decoration__item--4 {
    position: absolute;
    background-color: white;
    background: radial-gradient(ellipse at top, rgba(17, 17, 17, 1) 90%, rgba(255, 255, 255, 0) 90%);
    width: 24em;
    height: 10em;
    bottom: 5em;
    align-self: center;
    border-radius: 15%;
    z-index: 3;
}